[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/lib/jenkins/workspace/django_ci_cd
ExecStart=/var/lib/jenkins/workspace/django_ci_cd/env/bin/gunicorn --workers 3 --log-level debug --error-logfile /var/lib/jenkins/workspace/django_ci_cd/error.log --bind unix:/run/gunicorn.sock django_ci_cd.wsgi:application

[Install]
WantedBy=multi-user.target


[Install]
WantedBy=multi-user.target